:root {
    --primary-color: #a44123;
    --secondary-color: #4d6920;
    --background-color: #b09a56;
    --text-color: #000;
    --hover-color: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 0.9rem;
}

iframe {
    width: 100%;
}

@font-face {
    font-family: "Qurova";
    src: url(/assets/fonts/QurovaDEMO-Regular-BF67a5c637a5dc9.otf);
}

footer > div {
    max-width: 100%;
}

.social-floating-icon {
    z-index: 2;
}

.social-floating-btn {
    background-color: #25D366;
    border-radius: 50%;
}

.social-floating-btn:hover {
    background-color: #128c7e;
}

/* Header */
.logo-img-div {
    max-width: 500px;
}

.logo-img, .logo-img-sm {
    max-width: 350px;
}

.header-row {
    height: 140px;
}

.nav-link {
    color: var(--primary-color);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--secondary-color);
    background-color: var(--hover-color);
    border-radius: 40px;
    transform: scale(1.05);
}

.offcanvas {
    background-color: var(--hover-color);
}

.navbar-toggler {
    border: var(--background-color) solid 1px;
    background-color: var(--background-color);
    border-radius: 10px;
}

.btn-close {
    background-color: var(--hover-color);
    border: var(--primary-color) solid 2px;
    border-radius: 20px;
    opacity: 1;
}

.btn-close:hover {
    background-color: var(--primary-color);
}

.menubar, .right-header {
    background-color: var(--hover-color);
}

.menubar-lg {
    background: transparent;
}

@media (min-width: 992px) { /* lg and up */
  .menubar-lg {
    background: var(--hover-color);
  }
}

/* Latest updates marquee */
.marquee-background {
    background-color: var(--secondary-color);
    color: var(--hover-color);
}

.marquee-title {
    background-color: var(--primary-color);
    white-space: nowrap;
}

/* Hero section */
.hero-background {
    background: url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-container, .services-container {
    background: rgba(255, 255, 255, 0.7);
}

.hero-container > h1 {
    font-family: "Qurova";
    color: var(--primary-color);
}

.hero-container > h2 {
    font-family: "Alex Brush";
    color: var(--secondary-color);
}

/* CTA Buttons (Contact Us, Company Profile, Learn More, View Services) */
.cta-btn {
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    border-radius: 30px;
    color: var(--hover-color);
    padding: 0.8em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    font-weight: bold;
    gap: 0.6em;
    align-items: center;
    text-decoration: none;
}

.cta-btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btn .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.cta-btn .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--hover-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.cta-btn:hover {
    background-color: var(--text-color);
}

.cta-btn:hover .arrow {
    background: var(--hover-color);
}

.cta-btn:hover .arrow:before {
    right: 0;
}

.learn-more-btn {
    --primary-color: #b09a56;
}

/* Cards */
#sectors-section .card:hover, #food-safety-services .card:hover, #health-safety-quality-services .card:hover {
    transform: scale(1.05);
}

#benefits-section .card-title, #sectors-section .card-title {
    margin-top: 1rem;
    font-size: 1.1rem;
    /* text-align: center; */
    word-break: break-word;
}

#food-safety-services .card-title, #health-safety-quality-services .card-title {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

/* Benefits section */
#benefits-section .owl-item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

#benefits-section .card, #sectors-section .card {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}

#benefits-section .card {
    color: var(--hover-color);
    background-color: var(--background-color);
    border: 0px;
    width: 280px;
    height: 390px;
}

#benefits-section .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* About section */
.about-container {
    background: rgba(255, 255, 255, 0.4);
}

.about-background {
    background: url(/images/landing-about.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.about-row, .know-our-team-row, .our-vision-row {
    border-left: var(--background-color) solid 5px;
}

.who-we-are-row, .our-mission-row, .our-goal-row, .trainings-row {
    border-right: var(--background-color) solid 5px;
}

/* .view-more-sectors, .view-less-sectors {
    width: 190px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--primary-color);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 1px var(--secondary-color);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    color: white;
}

.view-more-sectors span, .view-less-sectors span {
    transition-duration: 0.3s;
}

.view-more-sectors .svgIcon, .view-less-sectors .svgIcon {
    transition-duration: 0.3s;
    transform: translateX(5px);
} 
  
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
} */

/* .view-more-sectors:hover, .view-less-sectors:hover {
    transition-duration: 0.3s;
    background-color: var(--text-color);
    align-items: center;
}

.view-more-sectors:hover span, .view-less-sectors:hover span {
    font-size: 0;
    width: 0;
    opacity: 0;
}

.view-more-sectors:hover .svgIcon, .view-less-sectors:hover .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
    transform: translateX(0);
}

.view-more-sectors::before, .view-less-sectors::before {
    content: none;
} */

/* Sectors section */
.sectors-background {
    background: url(/images/Toolbox-Talks-scaled.jpeg);
    background-size: cover;
    background-position: 5% center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#sectors-section .card {
    color: var(--primary-color);
    background-color: var(--hover-color);
    border: 0px;
    width: 280px;
    height: 390px;
}

.services-card {
    background-color: #ffffffe3;
    color: var(--primary-color);
    border: 0px;
}

.hsq-btn {
    --primary-color: #4d6920;
}

/* Food Safety Services section */
#food-safety-services .card, #health-safety-quality-services .card {
    border-radius: 30px;
}

#food-safety-services .card-img-top, #health-safety-quality-services .card-img-top {
    width: 100%;
    height: 230px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.more-info-btn {
    color: white;
    background-color: var(--background-color);
    border-radius: 50px;
    font-weight: 600;
    transition-duration: 0.3s;
    overflow: hidden;
}

.more-info-btn span {
    transition-duration: 0.3s;
}

.more-info-btn .svgIcon-moreInfo {
    transition-duration: 0.3s;
    transform: translateX(2px);
}
  
.svgIcon-moreInfo {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon-moreInfo path {
    fill: white;
}

.more-info-btn:hover {
    transition-duration: 0.3s;
    background-color: var(--text-color);
    color: var(--hover-color);
    align-items: center;
}

.more-info-btn:hover .svgIcon-moreInfo {
    width: 12px;
    transition-duration: 0.3s;
    transform: translateX(0);
}

.badge {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

.contact-background {
    background: url(/images/landing-services.jpg);
    background-size: cover;
    background-position: 5% center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.contact-container {
    background: rgba(255, 255, 255, 0.4);
}

.form-control {
    border: var(--primary-color) solid 1px;
    border-radius: 20px;
}

.form-control::placeholder {
    color: #868e96;
}

.form-control:focus {
    border-color: var(--background-color);
    outline: 0;
    box-shadow:  0 0 0 0.25rem #b099568a;
}

.submit-btn {
    color: var(--hover-color);
    background: var(--primary-color);
    border: var(--background-color) solid 1px;
    border-radius: 30px;
    padding: 0.8em 1.8em;
    transition: 0.2s background;
}

.submit-btn:hover {
    background-color: var(--text-color);
    border: var(--secondary-color) solid 1px;
}
