body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 0.9rem;
}

iframe {
    width: 100%;
}

@font-face {
    font-family: "Qurova";
    src: url(./assets/fonts/QurovaDEMO-Regular-BF67a5c637a5dc9.otf);
}

footer > div {
    max-width: 100%;
}

.logo-img-div {
    max-width: 500px;
}

.logo-img {
    max-width: 320px;
}

.nav-link:hover {
    color: #b09a56;
}

.hero-background {
    background: url(./assets/images/services.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-container {
    background: rgba(255, 255, 255, 0.4);
}

.hero-container > h1 {
    font-family: "Qurova";
    color: #a44123;
}

.hero-container > h2 {
    font-family: "Alex Brush";
    color: #4d6920;
}

.contact-btn {
    --primary-color: #a44123;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 30px;
    color: var(--secondary-color);
    padding: 0.8em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    text-decoration: none;
}

.contact-btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.contact-btn .arrow::before {
content: "";
box-sizing: border-box;
position: absolute;
border: solid var(--secondary-color);
border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
display: inline-block;
top: -3px;
right: 3px;
transition: 0.2s;
padding: 3px;
transform: rotate(-45deg);
}

.contact-btn:hover {
background-color: var(--hover-color);
}

.contact-btn:hover .arrow {
background: var(--secondary-color);
}

.contact-btn:hover .arrow:before {
right: 0;
}

.learn-more-btn {
    --primary-color: #b09a56;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 30px;
    color: var(--secondary-color);
    padding: 0.8em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    text-decoration: none;
}

.learn-more-btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more-btn .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.learn-more-btn .arrow::before {
content: "";
box-sizing: border-box;
position: absolute;
border: solid var(--secondary-color);
border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
display: inline-block;
top: -3px;
right: 3px;
transition: 0.2s;
padding: 3px;
transform: rotate(-45deg);
}

.learn-more-btn:hover {
background-color: var(--hover-color);
}

.learn-more-btn:hover .arrow {
background: var(--secondary-color);
}

.learn-more-btn:hover .arrow:before {
right: 0;
}

.about-container {
    background: rgba(255, 255, 255, 0.4);
}

.about-row {
    border-left: #b09a56 solid 5px;
}

.who-we-are-row, .our-mission-row, .our-goal-row {
    border-right: #b09a56 solid 5px;
}

.know-our-team-row, .our-vision-row {
    border-left: #b09a56 solid 5px;
}

.services-background {
    background: url(./assets/images/services.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.services-container {
    background: rgba(255, 255, 255, 0.4);
}

.contact-container {
    background: rgba(255, 255, 255, 0.4);
}